@media (max-width: 600px) {
  .container {
    padding: 3vw;
  }
  .logo {
    width: 24vw;
  }
  .main-nav {
    flex-direction: line;
    align-items: center;
    gap: 2vw;
  }
  .main-nav a {
    font-size: 3.2vw;
  }

  .banner img {
    margin: 20px 0;
  }

  .intro h1 {
    font-size: 7vw;
  }
  .intro p {
    font-size: 3.8vw;
  }

  .cards-grid {
    display: block;
  }
  .card {
    margin-bottom: 6vw;
    padding: 4vw;
  }
  .card h2 {
    font-size: 6vw;
  }
  .card p {
    font-size: 3.8vw;
  }

  .images-grid {
    display: block;
  }
  .images-grid img {
    width: 100%;
    margin-bottom: 3.8vw;
  }

  .info-grid {
    display: block;
  }
  .info-grid .card {
    margin-bottom: 6vw;
    padding: 3.8vw;
  }
  .info-grid h2 {
    font-size: 6vw;
  }
  .info-grid li {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .site-footer {
    padding: 4vw 0;
    font-size: 3vw;
  }
}
